*/*
!Clarity/*
!Mico8/*
!Mico8_code/*
Mico8_code/*/
*.html 
*.xml 
.build_status 
.run_manager.ini 
.recovery 
.spread_sheet.ini 
.spreadsheet_view.ini 
*.dir/ 
*.log 
*.tcl 
*.ccl 
*.srp 
*.dmp 
._Real_._Math_.vhd
transcript