rvl_alias "XTAL_25MHz_i" "XTAL_25MHz_i";
RVL_ALIAS "XTAL_25MHz_i" "XTAL_25MHz_i"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
SYSCONFIG CONFIG_IOVOLTAGE=3.3 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_MODE=SPI_DUAL ;
LOCATE COMP "XTAL_20MHz_i" SITE "J19" ;
LOCATE COMP "XTAL_25MHz_i" SITE "G2" ;
LOCATE COMP "clk_cpu_o" SITE "B4" ;
/////////////////////////////////////// IO
LOCATE COMP "CPU_io[0]" SITE "C17" ;
LOCATE COMP "CPU_io[1]" SITE "E15" ;
LOCATE COMP "CPU_io[2]" SITE "A17" ;
LOCATE COMP "CPU_io[3]" SITE "B17" ;
LOCATE COMP "CPU_io[4]" SITE "D17" ;
LOCATE COMP "CPU_io[5]" SITE "E16" ;
LOCATE COMP "CPU_io[6]" SITE "A18" ;
LOCATE COMP "CPU_io[7]" SITE "B18" ;
LOCATE COMP "CPU_io[8]" SITE "E20" ;
LOCATE COMP "CPU_io[9]" SITE "H17" ;
LOCATE COMP "CPU_io[10]" SITE "C18" ;
LOCATE COMP "CPU_io[11]" SITE "B19" ;
LOCATE COMP "CPU_io[12]" SITE "A19" ;
LOCATE COMP "CPU_io[13]" SITE "C20" ;
LOCATE COMP "CPU_io[14]" SITE "B20" ;
LOCATE COMP "CPU_io[15]" SITE "F16" ;
LOCATE COMP "CPU_io[16]" SITE "D20" ;
LOCATE COMP "CPU_io[17]" SITE "D19" ;
LOCATE COMP "CPU_io[18]" SITE "G16" ;
LOCATE COMP "CPU_io[19]" SITE "G18" ;
LOCATE COMP "CPU_io[20]" SITE "E19" ;
LOCATE COMP "CPU_io[21]" SITE "H18" ;
LOCATE COMP "CPU_io[22]" SITE "J18" ;
LOCATE COMP "CPU_io[23]" SITE "J17" ;
LOCATE COMP "CPU_io[137]" SITE "U2" ;
/////////////////////////////////////// PWM
LOCATE COMP "CPU_io[145]" SITE "E8" ;
LOCATE COMP "CPU_io[146]" SITE "A5" ;
LOCATE COMP "CPU_io[147]" SITE "C10" ;
LOCATE COMP "CPU_io[148]" SITE "C11" ;
LOCATE COMP "CPU_io[149]" SITE "A12" ;
LOCATE COMP "CPU_io[150]" SITE "B11" ;
LOCATE COMP "CPU_io[151]" SITE "D13" ;
LOCATE COMP "CPU_io[152]" SITE "C12" ;
LOCATE COMP "CPU_io[153]" SITE "A13" ;
LOCATE COMP "CPU_io[154]" SITE "B12" ;
LOCATE COMP "CPU_io[155]" SITE "E14" ;
LOCATE COMP "CPU_io[156]" SITE "C13" ;
LOCATE COMP "CPU_io[157]" SITE "A14" ;
LOCATE COMP "CPU_io[158]" SITE "D15" ;
LOCATE COMP "CPU_io[159]" SITE "C15" ;
LOCATE COMP "CPU_io[160]" SITE "B15" ;
LOCATE COMP "CPU_io[161]" SITE "C16" ;
LOCATE COMP "CPU_io[162]" SITE "D16" ;
LOCATE COMP "CPU_io[163]" SITE "A16" ;
LOCATE COMP "CPU_io[164]" SITE "B16" ;
LOCATE COMP "CPU_io[165]" SITE "E17" ;
LOCATE COMP "CPU_io[166]" SITE "E18" ;
LOCATE COMP "CPU_io[167]" SITE "F17" ;
LOCATE COMP "CPU_io[168]" SITE "F18" ;
/////////////////////////////////////// EMIF_DATA
LOCATE COMP "CPU_io[85]" SITE "B13" ;
LOCATE COMP "CPU_io[83]" SITE "E13" ;
LOCATE COMP "CPU_io[82]" SITE "D9" ;
LOCATE COMP "CPU_io[81]" SITE "A11" ;
LOCATE COMP "CPU_io[80]" SITE "D11" ;
LOCATE COMP "CPU_io[79]" SITE "D12" ;
LOCATE COMP "CPU_io[78]" SITE "B10" ;
LOCATE COMP "CPU_io[77]" SITE "A10" ;
LOCATE COMP "CPU_io[76]" SITE "E12" ;
LOCATE COMP "CPU_io[75]" SITE "E11" ;
LOCATE COMP "CPU_io[74]" SITE "E9" ;
LOCATE COMP "CPU_io[73]" SITE "A9" ;
LOCATE COMP "CPU_io[72]" SITE "B9" ;
LOCATE COMP "CPU_io[71]" SITE "B8" ;
LOCATE COMP "CPU_io[70]" SITE "A8" ;
LOCATE COMP "CPU_io[69]" SITE "A7" ;
LOCATE COMP "CPU_io[68]" SITE "B6" ;
LOCATE COMP "CPU_io[67]" SITE "A6" ;
LOCATE COMP "CPU_io[66]" SITE "D7" ;
LOCATE COMP "CPU_io[65]" SITE "C8" ;
LOCATE COMP "CPU_io[64]" SITE "E6" ;
LOCATE COMP "CPU_io[63]" SITE "E7" ;
LOCATE COMP "CPU_io[62]" SITE "D8" ;
LOCATE COMP "CPU_io[61]" SITE "C7" ;
LOCATE COMP "CPU_io[60]" SITE "D6" ;
LOCATE COMP "CPU_io[59]" SITE "C6" ;
LOCATE COMP "CPU_io[58]" SITE "D5" ;
LOCATE COMP "CPU_io[57]" SITE "A2" ;
LOCATE COMP "CPU_io[56]" SITE "C5" ;
LOCATE COMP "CPU_io[55]" SITE "B2" ;
LOCATE COMP "CPU_io[54]" SITE "B1" ;
LOCATE COMP "CPU_io[53]" SITE "E5" ;
/////////////////////////// EMIF_CONTROL
LOCATE COMP "CPU_io[34]" SITE "E3" ;
LOCATE COMP "CPU_io[37]" SITE "G3" ;
LOCATE COMP "CPU_io[31]" SITE "H3" ;
LOCATE COMP "CPU_io[33]" SITE "H4" ;
/////////////////////////// EMIF_ADDRESS
LOCATE COMP "CPU_io[38]" SITE "E4" ;
LOCATE COMP "CPU_io[39]" SITE "G5" ;
LOCATE COMP "CPU_io[40]" SITE "F3" ;
LOCATE COMP "CPU_io[41]" SITE "F4" ;
LOCATE COMP "CPU_io[44]" SITE "B3" ;
LOCATE COMP "CPU_io[45]" SITE "A3" ;
LOCATE COMP "CPU_io[46]" SITE "A4" ;
LOCATE COMP "CPU_io[47]" SITE "B5" ;
LOCATE COMP "CPU_io[48]" SITE "C3" ;
LOCATE COMP "CPU_io[49]" SITE "D3" ;
LOCATE COMP "CPU_io[50]" SITE "F5" ;
LOCATE COMP "CPU_io[51]" SITE "C2" ;
LOCATE COMP "CPU_io[52]" SITE "C4" ;
LOCATE COMP "CPU_io[86]" SITE "D14" ;
LOCATE COMP "CPU_io[87]" SITE "C14" ;
LOCATE COMP "CPU_io[88]" SITE "D18" ;
//////////////////////////////// 
DEFINE PORT GROUP "EMIF_address" "CPU_io[38]" 
"CPU_io[39]" 
"CPU_io[40]" 
"CPU_io[41]" 
"CPU_io[44]" 
"CPU_io[45]" 
"CPU_io[46]" 
"CPU_io[47]" 
"CPU_io[48]" 
"CPU_io[49]" 
"CPU_io[50]" ;
//"CPU_io[51]"
//"CPU_io[52]"
//"CPU_io[86]"
//"CPU_io[87]"
//"CPU_io[88]" ;
DEFINE PORT GROUP "EMIF_data" "CPU_io[85]" 
"CPU_io[83]" 
"CPU_io[82]" 
"CPU_io[81]" 
"CPU_io[80]" 
"CPU_io[79]" 
"CPU_io[78]" 
"CPU_io[77]" 
"CPU_io[76]" 
"CPU_io[75]" 
"CPU_io[74]" 
"CPU_io[73]" 
"CPU_io[72]" 
"CPU_io[71]" 
"CPU_io[70]" 
"CPU_io[69]" 
"CPU_io[68]" 
"CPU_io[67]" 
"CPU_io[66]" 
"CPU_io[65]" 
"CPU_io[64]" 
"CPU_io[63]" 
"CPU_io[62]" 
"CPU_io[61]" 
"CPU_io[60]" 
"CPU_io[59]" 
"CPU_io[58]" 
"CPU_io[57]" 
"CPU_io[56]" 
"CPU_io[55]" 
"CPU_io[54]" 
"CPU_io[53]" ;
//////////////////////////////// FPGA_conn
LOCATE COMP "FPGA_conn_io[3]" SITE "U19" ;
LOCATE COMP "FPGA_conn_io[4]" SITE "U16" ;
LOCATE COMP "FPGA_conn_io[5]" SITE "U20" ;
LOCATE COMP "FPGA_conn_io[6]" SITE "U17" ;
LOCATE COMP "FPGA_conn_io[11]" SITE "T19" ;
LOCATE COMP "FPGA_conn_io[12]" SITE "U18" ;
LOCATE COMP "FPGA_conn_io[15]" SITE "T20" ;
LOCATE COMP "FPGA_conn_io[16]" SITE "T17" ;
LOCATE COMP "FPGA_conn_io[18]" SITE "T18" ;
LOCATE COMP "FPGA_conn_io[21]" SITE "R20" ;
LOCATE COMP "FPGA_conn_io[23]" SITE "P19" ;
LOCATE COMP "FPGA_conn_io[24]" SITE "R17" ;
LOCATE COMP "FPGA_conn_io[28]" SITE "R18" ;
LOCATE COMP "FPGA_conn_io[29]" SITE "P20" ;
LOCATE COMP "FPGA_conn_io[30]" SITE "R16" ;
LOCATE COMP "FPGA_conn_io[33]" SITE "N19" ;
LOCATE COMP "FPGA_conn_io[34]" SITE "P18" ;
LOCATE COMP "FPGA_conn_io[39]" SITE "N20" ;
LOCATE COMP "FPGA_conn_io[40]" SITE "P17" ;
LOCATE COMP "FPGA_conn_io[41]" SITE "M19" ;
LOCATE COMP "FPGA_conn_io[42]" SITE "N18" ;
LOCATE COMP "FPGA_conn_io[45]" SITE "M20" ;
LOCATE COMP "FPGA_conn_io[46]" SITE "P16" ;
LOCATE COMP "FPGA_conn_io[51]" SITE "L19" ;
LOCATE COMP "FPGA_conn_io[52]" SITE "M18" ;
LOCATE COMP "FPGA_conn_io[53]" SITE "L20" ;
LOCATE COMP "FPGA_conn_io[54]" SITE "N17" ;
LOCATE COMP "FPGA_conn_io[57]" SITE "L18" ;
LOCATE COMP "FPGA_conn_io[60]" SITE "M17" ;
LOCATE COMP "FPGA_conn_io[63]" SITE "K20" ;
LOCATE COMP "FPGA_conn_io[65]" SITE "K19" ;
LOCATE COMP "FPGA_conn_io[66]" SITE "L17" ;
LOCATE COMP "FPGA_conn_io[69]" SITE "J20" ;
LOCATE COMP "FPGA_conn_io[72]" SITE "N16" ;
LOCATE COMP "FPGA_conn_io[75]" SITE "H20" ;
LOCATE COMP "FPGA_conn_io[77]" SITE "G20" ;
LOCATE COMP "FPGA_conn_io[78]" SITE "L16" ;
LOCATE COMP "FPGA_conn_io[83]" SITE "G19" ;
LOCATE COMP "FPGA_conn_io[84]" SITE "J16" ;
LOCATE COMP "FPGA_conn_io[87]" SITE "F20" ;
LOCATE COMP "FPGA_conn_io[88]" SITE "H16" ;
LOCATE COMP "FPGA_conn_io[89]" SITE "F19" ;
LOCATE COMP "FPGA_conn_io[90]" SITE "K18" ;
LOCATE COMP "FPGA_conn_io[93]" SITE "Y2" ;
LOCATE COMP "FPGA_conn_io[94]" SITE "U1" ;
LOCATE COMP "FPGA_conn_io[95]" SITE "W1" ;
LOCATE COMP "FPGA_conn_io[96]" SITE "T1" ;
LOCATE COMP "FPGA_conn_io[99]" SITE "V1" ;
LOCATE COMP "FPGA_conn_io[100]" SITE "R1" ;
LOCATE COMP "FPGA_conn_io[101]" SITE "P5" ;
LOCATE COMP "FPGA_conn_io[102]" SITE "P2" ;
LOCATE COMP "FPGA_conn_io[106]" SITE "P1" ;
LOCATE COMP "FPGA_conn_io[107]" SITE "P4" ;
LOCATE COMP "FPGA_conn_io[111]" SITE "P3" ;
LOCATE COMP "FPGA_conn_io[112]" SITE "N2" ;
LOCATE COMP "FPGA_conn_io[114]" SITE "N1" ;
LOCATE COMP "FPGA_conn_io[117]" SITE "N4" ;
LOCATE COMP "FPGA_conn_io[118]" SITE "M1" ;
LOCATE COMP "FPGA_conn_io[119]" SITE "N3" ;
LOCATE COMP "FPGA_conn_io[120]" SITE "L2" ;
LOCATE COMP "FPGA_conn_io[123]" SITE "M4" ;
LOCATE COMP "FPGA_conn_io[124]" SITE "L1" ;
LOCATE COMP "FPGA_conn_io[129]" SITE "M3" ;
LOCATE COMP "FPGA_conn_io[130]" SITE "K3" ;
LOCATE COMP "FPGA_conn_io[131]" SITE "L3" ;
LOCATE COMP "FPGA_conn_io[132]" SITE "K1" ;
LOCATE COMP "FPGA_conn_io[136]" SITE "K2" ;
LOCATE COMP "FPGA_conn_io[137]" SITE "L4" ;
LOCATE COMP "FPGA_conn_io[141]" SITE "N5" ;
LOCATE COMP "FPGA_conn_io[142]" SITE "J1" ;
LOCATE COMP "FPGA_conn_io[144]" SITE "H1" ;
LOCATE COMP "FPGA_conn_io[148]" SITE "H2" ;
LOCATE COMP "FPGA_conn_io[149]" SITE "L5" ;
LOCATE COMP "FPGA_conn_io[153]" SITE "K5" ;
LOCATE COMP "FPGA_conn_io[154]" SITE "G1" ;
LOCATE COMP "FPGA_conn_io[156]" SITE "F1" ;
LOCATE COMP "FPGA_conn_io[161]" SITE "K4" ;
LOCATE COMP "FPGA_conn_io[162]" SITE "F2" ;
LOCATE COMP "FPGA_conn_io[166]" SITE "E1" ;
LOCATE COMP "FPGA_conn_io[167]" SITE "J5" ;
LOCATE COMP "FPGA_conn_io[168]" SITE "E2" ;
LOCATE COMP "FPGA_conn_io[171]" SITE "J4" ;
LOCATE COMP "FPGA_conn_io[174]" SITE "D1" ;
LOCATE COMP "FPGA_conn_io[177]" SITE "J3" ;
LOCATE COMP "FPGA_conn_io[178]" SITE "D2" ;
LOCATE COMP "FPGA_conn_io[179]" SITE "H5" ;
LOCATE COMP "FPGA_conn_io[180]" SITE "C1" ;
//EMIF timing
INPUT_SETUP GROUP "EMIF_address"5.000000 ns HOLD 15.000000 ns CLKNET "EMIF_oe_i" ;
INPUT_SETUP GROUP "EMIF_address"10.000000 ns HOLD 5.000000 ns CLKNET "EMIF_we_i" ;
INPUT_SETUP GROUP "EMIF_data"10.000000 ns HOLD 5.000000 ns CLKNET "EMIF_we_i" ;
CLOCK_TO_OUT GROUP "EMIF_data" 20.000000 ns CLKNET "EMIF_oe_i" ;
MAXDELAY FROM GROUP "EMIF_address" TO GROUP "EMIF_data" 20.000000 ns ;
USE PRIMARY NET "EMIF_oe_i" ;
