rvl_alias "clk_1x" "clk_1x";
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
SYSCONFIG CONFIG_IOVOLTAGE=3.3 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_MODE=SPI_DUAL ;
/////////////////////////////////////// IO
LOCATE COMP "CPU_io[0]" SITE "U2" ;
LOCATE COMP "CPU_io[1]" SITE "V1" ;
LOCATE COMP "CPU_io[2]" SITE "U1" ;
LOCATE COMP "CPU_io[3]" SITE "T1" ;
LOCATE COMP "CPU_io[4]" SITE "P3" ;
LOCATE COMP "CPU_io[5]" SITE "R1" ;
LOCATE COMP "CPU_io[6]" SITE "P2" ;
LOCATE COMP "CPU_io[7]" SITE "P1" ;
LOCATE COMP "CPU_io[8]" SITE "J1" ;
LOCATE COMP "CPU_io[9]" SITE "H1" ;
LOCATE COMP "CPU_io[10]" SITE "N2" ;
LOCATE COMP "CPU_io[11]" SITE "N1" ;
LOCATE COMP "CPU_io[12]" SITE "M1" ;
LOCATE COMP "CPU_io[13]" SITE "L2" ;
LOCATE COMP "CPU_io[14]" SITE "L1" ;
LOCATE COMP "CPU_io[15]" SITE "K3" ;
//LOCATE COMP "CPU_io[16]" SITE "W2" ;
//LOCATE COMP "CPU_io[17]" SITE "V2" ;
//LOCATE COMP "CPU_io[18]" SITE "U3" ;
//LOCATE COMP "CPU_io[19]" SITE "R2" ;
LOCATE COMP "CPU_io[20]" SITE "K1" ;
LOCATE COMP "CPU_io[21]" SITE "K2" ;
LOCATE COMP "CPU_io[22]" SITE "H2" ;
LOCATE COMP "CPU_io[23]" SITE "G1" ;
LOCATE COMP "CPU_io[36]" SITE "D19" ;
LOCATE COMP "CPU_io[84]" SITE "W1" ;
LOCATE COMP "CPU_io[133]" SITE "L20" ;
LOCATE COMP "CPU_clk_o" SITE "P16" ;
/////////////////////////////////////// EMIF_DATA
LOCATE COMP "CPU_io[85]" SITE "U20" ;
LOCATE COMP "CPU_io[83]" SITE "U18" ;
LOCATE COMP "CPU_io[82]" SITE "T19" ;
LOCATE COMP "CPU_io[81]" SITE "T17" ;
LOCATE COMP "CPU_io[80]" SITE "T20" ;
LOCATE COMP "CPU_io[79]" SITE "T18" ;
LOCATE COMP "CPU_io[78]" SITE "R20" ;
LOCATE COMP "CPU_io[77]" SITE "R17" ;
LOCATE COMP "CPU_io[76]" SITE "P19" ;
LOCATE COMP "CPU_io[75]" SITE "R18" ;
LOCATE COMP "CPU_io[74]" SITE "P20" ;
LOCATE COMP "CPU_io[73]" SITE "R16" ;
LOCATE COMP "CPU_io[72]" SITE "N19" ;
LOCATE COMP "CPU_io[71]" SITE "P18" ;
LOCATE COMP "CPU_io[70]" SITE "N20" ;
LOCATE COMP "CPU_io[69]" SITE "P17" ;
LOCATE COMP "CPU_io[68]" SITE "M19" ;
LOCATE COMP "CPU_io[67]" SITE "N18" ;
LOCATE COMP "CPU_io[66]" SITE "K20" ;
LOCATE COMP "CPU_io[65]" SITE "N17" ;
LOCATE COMP "CPU_io[64]" SITE "K19" ;
LOCATE COMP "CPU_io[63]" SITE "M17" ;
LOCATE COMP "CPU_io[62]" SITE "J20" ;
LOCATE COMP "CPU_io[61]" SITE "L17" ;
LOCATE COMP "CPU_io[60]" SITE "J19" ;
LOCATE COMP "CPU_io[59]" SITE "N16" ;
LOCATE COMP "CPU_io[58]" SITE "H20" ;
LOCATE COMP "CPU_io[57]" SITE "L16" ;
LOCATE COMP "CPU_io[56]" SITE "G20" ;
LOCATE COMP "CPU_io[55]" SITE "J16" ;
LOCATE COMP "CPU_io[54]" SITE "G19" ;
LOCATE COMP "CPU_io[53]" SITE "H16" ;
/////////////////////////// EMIF_CONTROL
//LOCATE COMP "CPU_io[31]" SITE "F16" ;
//LOCATE COMP "CPU_io[37]" SITE "H18" ;
LOCATE COMP "CPU_io[37]" SITE "F3" ;
LOCATE COMP "CPU_io[31]" SITE "D12" ;
LOCATE COMP "CPU_io[32]" SITE "G18" ;
LOCATE COMP "CPU_io[33]" SITE "G16" ;
/////////////////////////// EMIF_ADDRESS
LOCATE COMP "CPU_io[38]" SITE "D20" ;
LOCATE COMP "CPU_io[39]" SITE "H17" ;
LOCATE COMP "CPU_io[40]" SITE "E19" ;
LOCATE COMP "CPU_io[41]" SITE "J18" ;
LOCATE COMP "CPU_io[44]" SITE "L18" ;
LOCATE COMP "CPU_io[45]" SITE "M18" ;
LOCATE COMP "CPU_io[46]" SITE "L19" ;
LOCATE COMP "CPU_io[47]" SITE "M20" ;
LOCATE COMP "CPU_io[48]" SITE "E20" ;
LOCATE COMP "CPU_io[49]" SITE "J17" ;
LOCATE COMP "CPU_io[50]" SITE "F19" ;
LOCATE COMP "CPU_io[51]" SITE "K18" ;
LOCATE COMP "CPU_io[52]" SITE "F20" ;
LOCATE COMP "CPU_io[86]" SITE "U17" ;
LOCATE COMP "CPU_io[87]" SITE "U19" ;
LOCATE COMP "CPU_io[88]" SITE "U16" ;
//////////////////////////////// 
DEFINE PORT GROUP "EMIF_address" "CPU_io[38]" 
"CPU_io[39]" 
"CPU_io[40]" 
"CPU_io[41]" 
"CPU_io[44]" 
"CPU_io[45]" 
"CPU_io[46]" 
"CPU_io[47]" 
"CPU_io[48]" 
"CPU_io[49]" 
"CPU_io[50]" 
"CPU_io[51]" ;
//"CPU_io[52]"
//"CPU_io[86]"
//"CPU_io[87]"
//"CPU_io[88]" ;
DEFINE PORT GROUP "EMIF_data" "CPU_io[85]" 
"CPU_io[83]" 
"CPU_io[82]" 
"CPU_io[81]" 
"CPU_io[80]" 
"CPU_io[79]" 
"CPU_io[78]" 
"CPU_io[77]" 
"CPU_io[76]" 
"CPU_io[75]" 
"CPU_io[74]" 
"CPU_io[73]" 
"CPU_io[72]" 
"CPU_io[71]" 
"CPU_io[70]" 
"CPU_io[69]" 
"CPU_io[68]" 
"CPU_io[67]" 
"CPU_io[66]" 
"CPU_io[65]" 
"CPU_io[64]" 
"CPU_io[63]" 
"CPU_io[62]" 
"CPU_io[61]" 
"CPU_io[60]" 
"CPU_io[59]" 
"CPU_io[58]" 
"CPU_io[57]" 
"CPU_io[56]" 
"CPU_io[55]" 
"CPU_io[54]" 
"CPU_io[53]" ;
//////////////////////////////// FPGA_io
LOCATE COMP "FPGA_io[2]" SITE "A2" ;
LOCATE COMP "FPGA_io[3]" SITE "A3" ;
LOCATE COMP "FPGA_io[4]" SITE "A4" ;
LOCATE COMP "FPGA_io[5]" SITE "A5" ;
LOCATE COMP "FPGA_io[6]" SITE "A6" ;
LOCATE COMP "FPGA_io[7]" SITE "A7" ;
LOCATE COMP "FPGA_io[8]" SITE "A8" ;
LOCATE COMP "FPGA_io[9]" SITE "A9" ;
LOCATE COMP "FPGA_io[10]" SITE "A10" ;
LOCATE COMP "FPGA_io[11]" SITE "A11" ;
LOCATE COMP "FPGA_io[12]" SITE "A12" ;
LOCATE COMP "FPGA_io[13]" SITE "A13" ;
LOCATE COMP "FPGA_io[14]" SITE "A14" ;
//RSVD LOCATE COMP "FPGA_io[15]" SITE "A15" ;
LOCATE COMP "FPGA_io[16]" SITE "A16" ;
LOCATE COMP "FPGA_io[17]" SITE "A17" ;
LOCATE COMP "FPGA_io[18]" SITE "A18" ;
LOCATE COMP "FPGA_io[19]" SITE "A19" ;
LOCATE COMP "FPGA_io[21]" SITE "B1" ;
LOCATE COMP "FPGA_io[22]" SITE "B2" ;
LOCATE COMP "FPGA_io[23]" SITE "B3" ;
LOCATE COMP "FPGA_io[24]" SITE "B4" ;
LOCATE COMP "FPGA_io[25]" SITE "B5" ;
LOCATE COMP "FPGA_io[26]" SITE "B6" ;
LOCATE COMP "FPGA_io[28]" SITE "B8" ;
LOCATE COMP "FPGA_io[29]" SITE "B9" ;
LOCATE COMP "FPGA_io[30]" SITE "B10" ;
LOCATE COMP "FPGA_io[31]" SITE "B11" ;
LOCATE COMP "FPGA_io[32]" SITE "B12" ;
LOCATE COMP "FPGA_io[33]" SITE "B13" ;
LOCATE COMP "FPGA_io[35]" SITE "B15" ;
LOCATE COMP "FPGA_io[36]" SITE "B16" ;
LOCATE COMP "FPGA_io[37]" SITE "B17" ;
LOCATE COMP "FPGA_io[38]" SITE "B18" ;
LOCATE COMP "FPGA_io[39]" SITE "B19" ;
LOCATE COMP "FPGA_io[40]" SITE "B20" ;
LOCATE COMP "FPGA_io[41]" SITE "C1" ;
LOCATE COMP "FPGA_io[42]" SITE "C2" ;
LOCATE COMP "FPGA_io[43]" SITE "C3" ;
LOCATE COMP "FPGA_io[44]" SITE "C4" ;
LOCATE COMP "FPGA_io[45]" SITE "C5" ;
LOCATE COMP "FPGA_io[46]" SITE "C6" ;
LOCATE COMP "FPGA_io[47]" SITE "C7" ;
LOCATE COMP "FPGA_io[48]" SITE "C8" ;
//RSVD LOCATE COMP "FPGA_io[49]" SITE "C9" ;
LOCATE COMP "FPGA_io[50]" SITE "C10" ;
LOCATE COMP "FPGA_io[51]" SITE "C11" ;
LOCATE COMP "FPGA_io[52]" SITE "C12" ;
LOCATE COMP "FPGA_io[53]" SITE "C13" ;
LOCATE COMP "FPGA_io[54]" SITE "C14" ;
LOCATE COMP "FPGA_io[55]" SITE "C15" ;
LOCATE COMP "FPGA_io[56]" SITE "C16" ;
LOCATE COMP "FPGA_io[57]" SITE "C17" ;
LOCATE COMP "FPGA_io[58]" SITE "C18" ;
LOCATE COMP "FPGA_io[60]" SITE "C20" ;
LOCATE COMP "FPGA_io[61]" SITE "D1" ;
LOCATE COMP "FPGA_io[62]" SITE "D2" ;
LOCATE COMP "FPGA_io[63]" SITE "D3" ;
LOCATE COMP "FPGA_io[65]" SITE "D5" ;
LOCATE COMP "FPGA_io[66]" SITE "D6" ;
LOCATE COMP "FPGA_io[67]" SITE "D7" ;
LOCATE COMP "FPGA_io[68]" SITE "D8" ;
LOCATE COMP "FPGA_io[69]" SITE "D9" ;
//RSVD LOCATE COMP "FPGA_io[70]" SITE "D10" ;
LOCATE COMP "FPGA_io[71]" SITE "D11" ;
LOCATE COMP "FPGA_io[72]" SITE "D12" ;
LOCATE COMP "FPGA_io[73]" SITE "D13" ;
LOCATE COMP "FPGA_io[74]" SITE "D14" ;
LOCATE COMP "FPGA_io[75]" SITE "D15" ;
LOCATE COMP "FPGA_io[76]" SITE "D16" ;
LOCATE COMP "FPGA_io[77]" SITE "D17" ;
LOCATE COMP "FPGA_io[78]" SITE "D18" ;
LOCATE COMP "FPGA_io[79]" SITE "D19" ;
LOCATE COMP "FPGA_io[80]" SITE "D20" ;
LOCATE COMP "FPGA_io[81]" SITE "E1" ;
LOCATE COMP "FPGA_io[82]" SITE "E2" ;
LOCATE COMP "FPGA_io[83]" SITE "E3" ;
LOCATE COMP "FPGA_io[84]" SITE "E4" ;
LOCATE COMP "FPGA_io[85]" SITE "E5" ;
LOCATE COMP "FPGA_io[86]" SITE "E6" ;
LOCATE COMP "FPGA_io[87]" SITE "E7" ;
LOCATE COMP "FPGA_io[88]" SITE "E8" ;
LOCATE COMP "FPGA_io[89]" SITE "E9" ;
//RSVD LOCATE COMP "FPGA_io[90]" SITE "E10" ;
LOCATE COMP "FPGA_io[91]" SITE "E11" ;
LOCATE COMP "FPGA_io[92]" SITE "E12" ;
LOCATE COMP "FPGA_io[93]" SITE "E13" ;
LOCATE COMP "FPGA_io[94]" SITE "E14" ;
LOCATE COMP "FPGA_io[95]" SITE "E15" ;
LOCATE COMP "FPGA_io[96]" SITE "E16" ;
LOCATE COMP "FPGA_io[97]" SITE "E17" ;
LOCATE COMP "FPGA_io[98]" SITE "E18" ;
LOCATE COMP "FPGA_io[99]" SITE "E19" ;
LOCATE COMP "FPGA_io[100]" SITE "E20" ;
LOCATE COMP "FPGA_io[101]" SITE "F1" ;
LOCATE COMP "FPGA_io[102]" SITE "F2" ;
LOCATE COMP "FPGA_io[103]" SITE "F3" ;
LOCATE COMP "FPGA_io[104]" SITE "F4" ;
LOCATE COMP "FPGA_io[105]" SITE "F5" ;
//LOCATE COMP "FPGA_io[116]" SITE "F16" ;
LOCATE COMP "FPGA_io[117]" SITE "F17" ;
LOCATE COMP "FPGA_io[118]" SITE "F18" ;
LOCATE COMP "FPGA_io[119]" SITE "F19" ;
LOCATE COMP "FPGA_io[120]" SITE "F20" ;
LOCATE COMP "FPGA_io[121]" SITE "G1" ;
LOCATE COMP "FPGA_io[122]" SITE "G2" ;
LOCATE COMP "FPGA_io[123]" SITE "G3" ;
LOCATE COMP "FPGA_io[125]" SITE "G5" ;
LOCATE COMP "FPGA_io[136]" SITE "G16" ;
LOCATE COMP "FPGA_io[138]" SITE "G18" ;
LOCATE COMP "FPGA_io[139]" SITE "G19" ;
LOCATE COMP "FPGA_io[140]" SITE "G20" ;
LOCATE COMP "FPGA_io[141]" SITE "H1" ;
LOCATE COMP "FPGA_io[142]" SITE "H2" ;
LOCATE COMP "FPGA_io[143]" SITE "H3" ;
LOCATE COMP "FPGA_io[144]" SITE "H4" ;
LOCATE COMP "FPGA_io[145]" SITE "H5" ;
LOCATE COMP "FPGA_io[156]" SITE "H16" ;
LOCATE COMP "FPGA_io[157]" SITE "H17" ;
//LOCATE COMP "FPGA_io[158]" SITE "H18" ;
LOCATE COMP "FPGA_io[160]" SITE "H20" ;
LOCATE COMP "FPGA_io[161]" SITE "J1" ;
LOCATE COMP "FPGA_io[163]" SITE "J3" ;
LOCATE COMP "FPGA_io[164]" SITE "J4" ;
LOCATE COMP "FPGA_io[165]" SITE "J5" ;
LOCATE COMP "FPGA_io[176]" SITE "J16" ;
LOCATE COMP "FPGA_io[177]" SITE "J17" ;
LOCATE COMP "FPGA_io[178]" SITE "J18" ;
LOCATE COMP "FPGA_io[179]" SITE "J19" ;
LOCATE COMP "FPGA_io[180]" SITE "J20" ;
LOCATE COMP "FPGA_io[181]" SITE "K1" ;
LOCATE COMP "FPGA_io[182]" SITE "K2" ;
LOCATE COMP "FPGA_io[183]" SITE "K3" ;
LOCATE COMP "FPGA_io[184]" SITE "K4" ;
LOCATE COMP "FPGA_io[185]" SITE "K5" ;
//RSVD LOCATE COMP "FPGA_io[196]" SITE "K16" ;
//RSVD LOCATE COMP "FPGA_io[197]" SITE "K17" ;
LOCATE COMP "FPGA_io[198]" SITE "K18" ;
LOCATE COMP "FPGA_io[199]" SITE "K19" ;
LOCATE COMP "FPGA_io[200]" SITE "K20" ;
LOCATE COMP "FPGA_io[201]" SITE "L1" ;
LOCATE COMP "FPGA_io[202]" SITE "L2" ;
LOCATE COMP "FPGA_io[203]" SITE "L3" ;
LOCATE COMP "FPGA_io[204]" SITE "L4" ;
LOCATE COMP "FPGA_io[205]" SITE "L5" ;
LOCATE COMP "FPGA_io[216]" SITE "L16" ;
LOCATE COMP "FPGA_io[217]" SITE "L17" ;
LOCATE COMP "FPGA_io[218]" SITE "L18" ;
LOCATE COMP "FPGA_io[219]" SITE "L19" ;
LOCATE COMP "FPGA_io[220]" SITE "L20" ;
LOCATE COMP "FPGA_io[221]" SITE "M1" ;
LOCATE COMP "FPGA_io[223]" SITE "M3" ;
LOCATE COMP "FPGA_io[224]" SITE "M4" ;
//RSVD LOCATE COMP "FPGA_io[225]" SITE "M5" ;
LOCATE COMP "FPGA_io[237]" SITE "M17" ;
LOCATE COMP "FPGA_io[238]" SITE "M18" ;
LOCATE COMP "FPGA_io[239]" SITE "M19" ;
LOCATE COMP "FPGA_io[240]" SITE "M20" ;
LOCATE COMP "FPGA_io[241]" SITE "N1" ;
LOCATE COMP "FPGA_io[242]" SITE "N2" ;
LOCATE COMP "FPGA_io[243]" SITE "N3" ;
LOCATE COMP "FPGA_io[244]" SITE "N4" ;
LOCATE COMP "FPGA_io[245]" SITE "N5" ;
LOCATE COMP "FPGA_io[256]" SITE "N16" ;
LOCATE COMP "FPGA_io[257]" SITE "N17" ;
LOCATE COMP "FPGA_io[258]" SITE "N18" ;
LOCATE COMP "FPGA_io[259]" SITE "N19" ;
LOCATE COMP "FPGA_io[260]" SITE "N20" ;
LOCATE COMP "FPGA_io[261]" SITE "P1" ;
LOCATE COMP "FPGA_io[262]" SITE "P2" ;
LOCATE COMP "FPGA_io[263]" SITE "P3" ;
LOCATE COMP "FPGA_io[264]" SITE "P4" ;
LOCATE COMP "FPGA_io[265]" SITE "P5" ;
LOCATE COMP "FPGA_io[276]" SITE "P16" ;
LOCATE COMP "FPGA_io[277]" SITE "P17" ;
LOCATE COMP "FPGA_io[278]" SITE "P18" ;
LOCATE COMP "FPGA_io[279]" SITE "P19" ;
LOCATE COMP "FPGA_io[280]" SITE "P20" ;
LOCATE COMP "FPGA_io[281]" SITE "R1" ;
//CONF LOCATE COMP "FPGA_io[282]" SITE "R2" ;
//CONF LOCATE COMP "FPGA_io[283]" SITE "R3" ;
LOCATE COMP "FPGA_io[296]" SITE "R16" ;
LOCATE COMP "FPGA_io[297]" SITE "R17" ;
LOCATE COMP "FPGA_io[298]" SITE "R18" ;
LOCATE COMP "FPGA_io[300]" SITE "R20" ;
LOCATE COMP "FPGA_io[301]" SITE "T1" ;
//CONF LOCATE COMP "FPGA_io[302]" SITE "T2" ;
LOCATE COMP "FPGA_io[303]" SITE "T3" ;
//RSVD LOCATE COMP "FPGA_io[317]" SITE "T16" ;
LOCATE COMP "FPGA_io[317]" SITE "T17" ;
LOCATE COMP "FPGA_io[318]" SITE "T18" ;
LOCATE COMP "FPGA_io[319]" SITE "T19" ;
LOCATE COMP "FPGA_io[320]" SITE "T20" ;
LOCATE COMP "FPGA_io[321]" SITE "U1" ;
LOCATE COMP "FPGA_io[322]" SITE "U2" ;
LOCATE COMP "FPGA_io[336]" SITE "U16" ;
LOCATE COMP "FPGA_io[337]" SITE "U17" ;
LOCATE COMP "FPGA_io[338]" SITE "U18" ;
LOCATE COMP "FPGA_io[339]" SITE "U19" ;
LOCATE COMP "FPGA_io[340]" SITE "U20" ;
LOCATE COMP "FPGA_io[341]" SITE "V1" ;
//CONF LOCATE COMP "FPGA_io[342]" SITE "V2" ;
LOCATE COMP "FPGA_io[361]" SITE "W1" ;
//CONF LOCATE COMP "FPGA_io[362]" SITE "W2" ;
LOCATE COMP "FPGA_io[382]" SITE "Y2" ;
//EMIF timing
INPUT_SETUP GROUP "EMIF_address"5.000000 ns HOLD 15.000000 ns CLKNET "EMIF_oe_i" ;
INPUT_SETUP GROUP "EMIF_address"10.000000 ns HOLD 5.000000 ns CLKNET "EMIF_we_i" ;
INPUT_SETUP GROUP "EMIF_data"10.000000 ns HOLD 5.000000 ns CLKNET "EMIF_we_i" ;
CLOCK_TO_OUT GROUP "EMIF_data" 20.000000 ns CLKNET "EMIF_oe_i" ;
MAXDELAY FROM GROUP "EMIF_address" TO GROUP "EMIF_data" 20.000000 ns ;
USE PRIMARY NET "EMIF_oe_i" ;
USE PRIMARY NET "EMIF_we_i" ;